body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: verdana,helvetica,arial,sans-serif;
	font-weight: bold;
	}
#info0, #info1 { text-align: center; }
a { text-decoration: none; }
a:visited { color: blue; }
a:hover { color: purple; }
#player0, #player1 { width: 100vw; object-fit: contain; pointer-events: none; }
#buttons { left: 5px; }
@media all and (min-width: 1024px) {
	body { font-size: 32px; }
	button { height: 32px; min-width: 32px; }
	#player0, #player1 {
		height: calc(100vh - 50px);
		height: -moz-calc(100vh - 50px);
		height: -webkit-calc(100vh - 50px);
	}
	#buttons {
		top: calc(100vh - 54px);
		top: -moz-calc(100vh - 54px);
		top: -webkit-calc(100vh - 54px);
	}
}
@media all and (min-width: 641px) and (max-width: 1023px) {
	body { font-size: 16px; }
	button { height: 24px; min-width: 24px}
}
@media all and (max-width: 640px) {
	body { font-size: 12px; }
	button { height: 20px; min-width: 20px; }
	#info0, #info1 { text-align: right; padding-right: 5px}
}
@media all and (max-width: 1023px) {
	#player0, #player1 {
		height: calc(100vh - 25px);
		height: -moz-calc(100vh - 25px);
		height: -webkit-calc(100vh - 25px);
	}
	#buttons {
		top: calc(100vh - 25px);
		top: -moz-calc(100vh - 25px);
		top: -webkit-calc(100vh - 25px);
	}
}
#wrapper0, #wrapper1 {
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
}
#buttons, #wrapper0, #wrapper1, #caption {
	position: absolute;
}